<mat-sidenav-container fullscreen>
  <mat-sidenav #start>
    <mat-nav-list (click)="start.close()">
      <a
        mat-list-item
        routerLink="/login"
        *ngIf="(currentAccount$ | async) === null">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a>
      <a
        mat-list-item
        routerLink="/register"
        *ngIf="(currentAccount$ | async) === null">
        <mat-icon>account_circle</mat-icon>
        <span>sign-up</span>
      </a>
      <a mat-list-item (click)="logout()" *ngIf="currentAccount$ | async">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button class="menu-button" mat-icon-button (click)="start.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button
      class="menu-button account-icon"
      mat-icon-button
      routerLink="/courses"
      *ngIf="(currentAccount$ | async) !== null">
      <span> {{ (currentAccount$ | async)?.username }}</span>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>

  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <ul *ngFor="let user of userList">
      <li >username: {{ user.username }}</li>
      <li >password: {{ user.password }}</li>
    </ul>
  </div>

  <router-outlet></router-outlet>
</mat-sidenav-container>
